@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  box-shadow: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', "IBM Plex Sans", sans-serif;
  ;
}



/* ################### login style ################*/

.login-page {
  display: flex;

}


.login {
  background-color: #0088C6;
  width: 55%;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.login-content {
  margin: 20px;
}

.login img {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 11/9;
}

.login-info {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-info input {
  margin: 10px 0;
  padding: 10px;
  width: 80%;
  color: black;
}

.login-info p {
  color: #4D4F5C;
  font-size: 22px;
  line-height: 26.6px;
  font-weight: 700;
  text-align: right;
  padding: 10px 0;
  width: 80%;
}

.login-info button {
  width: fit-content;
  border-radius: 4px;
  padding: 20px;
  background-color: #0088C6;
  color: white;
  border: none;
  margin: 10px 0;
}


@media (max-width: 576px) {

  .login-page {
    flex-direction: column;
  }

  .login {
    width: 100%;
    height: 200px;
  }

  .login-info {
    width: 100%;
    margin: 10px auto;
  }
}