.container {
    display: flex;
    background-color: #F0F0F7;
    width: 100%;
}

.dashboard {
    display: flex;
}

.dashboard-nav {
    width: 250px;
    height: 822px;
    position: fixed;
    right: -250px;
    transition: right 0.3s ease;
    background-color: #3F4A56;
    border-radius: 0 0 15px 15px;
    overflow: auto;
}

.dashboard-nav.open {
    right: 0;
}

.sidebar-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10;
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

@media (min-width: 768px) {
    .dashboard-nav {
        right: 0;
        position: static;
    }

    .sidebar-toggle {
        display: none;
    }
}

.dash-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30vh;
    background-color: #3E4955;
    border-radius: 15px;

}

.dash-logo img {

    width: 130px;
    height: 51px;
}

.icon {
    color: #F0F0F7;
    margin: 0 15px;
    font-size: 17px;

}

.act {
    color: #409FD7;
    font-size: 17px;

}

.dash-link {
    padding: 15px;
    font-size: 15px;
    font-weight: 700;
    color: #BCBCCB;
    text-decoration: none;

}

.active {
    border-right: 5px solid #409FD7;
    background-color: #3E4955;

}

.dash-links a {
    text-decoration: none;
    color: #BCBCCB;
}



/* ########### post section ################# */

/* header-title */
.head {
    width: 100%;
    margin: 20px 60px;
}


.head-title {
    display: flex;
    justify-content: space-between;
    margin: 40px 10px;
}

.head .addButton {
    width: fit-content;
    height: fit-content;
    padding: 5px 15px;
    background-color: #409FD7;
    color: #ffff;
    font-size: 15px;
    border: none;
    border-radius: 15px;
    transition: all 0.14s ease-in;
    text-decoration: none;
}

.head .addButton:hover {
    width: fit-content;
    height: fit-content;
    padding: 5px 15px;
    background-color: #ffff;
    color: #409FD7;
    font-size: 15px;
    border: none;
    border-radius: 15px;
}

.head .title {
    font-size: 26px;
    font-weight: 700;
    color: #465260;
}


.filter-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.filter-icon {
    padding: 5px;
    margin: 5px;
    border: none;
    border-radius: 10px;
}

button.active-filter {
    background-color: #4D4F5C;
    color: white;
    padding: 5px;
    margin: 5px;
    border: none;
    border-radius: 10px;
}

/*######################### table ###########################  */
.table {
    width: 100%;
    border-collapse: collapse;
}

@media screen and (max-width: 576px) {
    .head {
        max-width: 300px
    }

    .table-container {
        max-width: 300px
    }


}

.table th:first-child {
    background-color: #f5f6fa;
    /* Updated color */
    border-radius: 0px 15px 0 0;
    /* Added border radius */
}

.table th:last-child {
    border-radius: 15px 0px 0 0;
}

.table thead {
    background-color: #F5F6FA;
    border-radius: 15px 15px 0 0;
    margin: 10px 0;
}

.table th {
    color: #A3A6B4;
    font-size: 13px;
    font-weight: 400;
    padding: 10px;
    text-align: start;
    border-bottom: 8px solid #F0F0F7;
}

.table td {
    background-color: #ffff;
    border-bottom: 2px solid #F0F0F7;
    color: #4D4F5C;
    font-size: 13px;
    font-weight: 400;
    padding: 20px 10px;
}


.table input[type="checkbox"] {
    margin: 0;
    padding: 0;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination .arrow {
    width: 41.83px;
    background-color: White;
    padding: 10px;
    margin: 5px;
    border-radius: 18px;
    border: none;
    font-weight: 400;
    font-size: 13px;
    color: #4D4F5C;
}

.pagination .page-num {
    width: 41.83px;
    background-color: White;
    padding: 10px;
    font-weight: 400;
    margin: 5px;
    border-radius: 18px;
    border: none;
    font-size: 13px;
    color: #4D4F5C;
}

.pagination .arrow:hover {
    background-color: #409FD7;
    color: #ffff;
}

.pagination .page-num:hover {

    background-color: #409FD7;
    color: #ffff;
}

.pagination .act-num {
    background-color: #409FD7;
    color: #ffff;

}

/*######################### addPost ###########################  */

.drop-area {
    border: 1px solid #E8E9EC;
    border-radius: 4px;
    width: 70%;
    padding: 30px 20px;
    text-align: center;
    margin: 5px;
}

.drop-area p {
    font-size: 13px;
    font-weight: 400;
    color: #4D4F5C;
}

label {
    font-size: 13px;
    font-weight: 400;
    color: #4D4F5C;
    margin: 5px;
}

.file-input {
    display: none;
}

input {
    border: 1px solid #E8E9EC;
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
}

textarea {

    border: 1px solid #E8E9EC;
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
}

.select-box {
    border: 1px solid #E8E9EC;
    color: #465260;
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.slug-andCat {
    display: flex;
}

.content {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

@media screen and (max-width: 768px) {
    .content {
        padding: 20px 10px;
        width: 500px;
    }

    .form-group {
        width: 100%;
    }
}

@media screen and (max-width: 568px) {
    .content {
        padding: 20px 10px;
        width: 300px;
    }

    .form-group {
        width: 100%;
    }
}

.ql-toolbar.ql-snow,
.ql-container.ql-snow {
    border: 1px solid #E8E9EC !important;
    border-radius: 4px;
}


.ql-container {
    height: 200px !important;
}

.sub-button {
    position: relative;
    right: 56.5%;
    padding: 10px 14px;
    border-radius: 15px;
    background-color: #409FD7;
    color: white;
    border: none;
    width: 120px;
    margin: 10px 0;

}

.tag {
    margin: 0 10px;
    font-size: 13px;
    font-weight: 400;
    color: #465260;
}

.delete-tag-button {
    background-color: white;
    border: none;
    color: red;
    margin: 5px;
}

.delete-button {
    background-color: #F0F0F7;
    border: none;
    color: red;
    margin: 5px;
    font-size: 13px;
}

.delete:hover {
    color: red;
}

/* ####################### edit-post ################ */
.delete-image-button {
    background-color: white;
    border: none;
    color: red;
    display: flex;
    margin: 5px;
}

/* Create a separate CSS module file, e.g., errorStyles.module.css */

.error-message {
    position: fixed;
    top: 20px;
    right: -400px;
    /* Initially hide the message off-screen to the right */
    max-width: 300px;
    padding: 10px 20px;
    background-color: #ffcccc;
    border: 1px solid #ff0000;
    color: #ff0000;
    font-weight: bold;
    animation: slideIn 0.3s ease-out forwards, fadeOut 0.3s ease-out 3s forwards;
}

.success-message {
    position: fixed;
    top: 20px;
    right: -400px;
    /* Initially hide the message off-screen to the right */
    max-width: 300px;
    padding: 10px 20px;
    background-color: #d1ffcc;
    border: 1px solid green;
    color: green;
    font-weight: bold;
    animation: slideIn 0.3s ease-out forwards, fadeOut 0.3s ease-out 3s forwards;
}

@keyframes slideIn {
    to {
        right: 20px;
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
        visibility: hidden;
    }
}


/* search */

.search {
    width: 100%;
    padding: 20px 5px;
    margin: 0;
    border-radius: 20px;
}



/*3####################### contact ############################ */


.contact-item {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.contact-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.date {
    position: relative;
    bottom: 25px;
    left: 15px;
    min-width: 150px;
    font-size: 13px;
}

.mail a {
    text-decoration: none;
    color: black;
}

.name-email {
    display: flex;
    justify-content: space-between;
}

.message {
    margin-top: 10px;
    word-wrap: break-word;
}

@media (max-width: 600px) {
    .contact-header {
        flex-direction: column;
    }

    /* .name-email {
        text-align: left;
        margin-top: 5px;
    } */
}